.cardDiv {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition-duration: 8s;
  transition-property: transform;
  transform-style: preserve-3d;
}

.card-back {
  background-image: url('../images/gururuny.png');
  border-radius: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-front {
  transform: rotateY(180deg);
  background-image: url('../images/cavecard.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.flaming-link {
  color: red;
  font-size: 4rem;
  margin: 4rem;
  overflow: hidden;
}

.card-back,
.card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* .card-container:hover{
  transform: rotateY(180deg);
} */

.card-container:hover .card {
  transform: rotateY(180deg);
  /* transform: translate3d(500px, 500px, 550px); */
}

/* -----------------Card Two----------------------- */

.cardImage {
  width: 100%;
  height: 100%;
  position: relative;
  transition-duration: 8s;
  transition-property: transform;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  /* transition-timing-function:cubic-bezier(.15,.46,1,.41) */
}

.card-backImage {
  background-image: url('../images/memicgreen.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.card-frontImage {
  background-image: url('../images/lakecard.png');
  background-size: 100%;
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  border-radius: 15px;
}

.card-backImage,
.card-frontImage {
  width: 300px;
  height: 450px;
  position: fixed;
  border-radius: 15px;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-containerImage:hover .cardImage {
  transform: rotateY(180deg);
  /* transform: rotateZ(-180deg); */
}

/* -----------------Card containers for both cards----------------------- */

.containerCard {
  display: table;
  flex-direction: column;
  margin-top: 10rem;
}

.divContainer {
  height: 100vh;
  width: 100vw;
  background: rgb(98, 160, 180);
  background: linear-gradient(
    176deg,
    rgba(98, 160, 180, 1) 0%,
    rgba(118, 189, 212, 1) 35%,
    rgba(167, 215, 231, 1) 89%
  );
  background-repeat: no-repeat;
  background: cover;
  display: flex;
  justify-content: center;
}

.card-container {
  display: table;
  justify-content: center;
  flex-direction: row;
  width: 300px;
  height: 450px;
  perspective: 40em;
  margin: 2rem;
  margin-top: 15rem;
}

.divCardGame {
  display: flex;
  justify-content: center;
}

.cardHead {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: azure;
  margin-bottom: 2rem;
}

.headGame {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  color: azure;
  margin-top: 2rem;
}

.playGame-h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: azure;
  margin-top: 2rem;
  letter-spacing: 2px;
  line-height: 5rem;
}

.memic-link,
.thecave-link {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 3rem;
}
