.containerlake {
  background: linear-gradient(
    180deg,
    rgba(189, 69, 6, 1) 5%,
    rgba(166, 4, 4, 1) 30%,
    rgba(78, 20, 3, 1) 56%,
    rgb(34, 1, 1) 88%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-head {
  font-family: 'Major Mono Display', monospace;
  text-shadow: 5px 5px rgb(0, 0, 0);
  transform: scale(0.54);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  font-size: 8rem;
  margin-bottom: 7rem;
  align-items: center;
  margin-top: 5rem;
  color: rgb(247, 247, 247);
}
.title-head {
  display: flex;
  padding-top: 10rem;
  align-items: center;
  justify-content: center;
}

.textFlame {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 3rem;
  text-align: center;
  color: white;
  margin: 8rem;
  line-height: 4.2rem;
}

.buttonFlameDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btnFlame {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1rem;
}

.flameBtn {
  margin: 1rem;
  height: 4rem;
  width: 7rem;
  font-size: 1.5rem;
  font-family: monospace;
  border-radius: 8px;
  border: 4px solid rgb(252, 252, 252);
  color: red;
  background-color: black;
}
h1.userlife {
  display: flex;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  margin: 3rem;
  font-size: 3rem;
  justify-content: flex-start;
}
h1.userlife {
  border: 5px solid black;
  width: 10rem;
  height: 5rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
/*----------------"Sass fire" from code penn ( sass code that has been changed to regular css ) -----------*/

.fire {
  font-size: 50px;
  filter: blur(0.02em);
  -webkit-filter: blur(0.02em);
  margin: 3em auto 0 auto;
  position: relative;
  width: 10em;
  height: 12em;
}

.particle {
  animation: rise 1s ease-in infinite;
  background-image: radial-gradient(
    rgb(255, 42, 0) 20%,
    rgba(255, 80, 0, 0) 70%
  );
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 5em;
  height: 5em;
}

.particle:nth-of-type(1) {
  animation-delay: 0.1315326743s;
  left: calc((100% - 5em) * 0);
}

.particle:nth-of-type(2) {
  animation-delay: 0.1184724201s;
  left: calc((100% - 5em) * 0.02);
}

.particle:nth-of-type(3) {
  animation-delay: 0.0381147404s;
  left: calc((100% - 5em) * 0.04);
}

.particle:nth-of-type(4) {
  animation-delay: 0.005096085s;
  left: calc((100% - 5em) * 0.06);
}

.particle:nth-of-type(5) {
  animation-delay: 0.5923892793s;
  left: calc((100% - 5em) * 0.08);
}

.particle:nth-of-type(6) {
  animation-delay: 0.4584782469s;
  left: calc((100% - 5em) * 0.1);
}

.particle:nth-of-type(7) {
  animation-delay: 0.1084619692s;
  left: calc((100% - 5em) * 0.12);
}

.particle:nth-of-type(8) {
  animation-delay: 0.1288417254s;
  left: calc((100% - 5em) * 0.14);
}

.particle:nth-of-type(9) {
  animation-delay: 0.4047010896s;
  left: calc((100% - 5em) * 0.16);
}

.particle:nth-of-type(10) {
  animation-delay: 0.7675267416s;
  left: calc((100% - 5em) * 0.18);
}

.particle:nth-of-type(11) {
  animation-delay: 0.7909455141s;
  left: calc((100% - 5em) * 0.2);
}

.particle:nth-of-type(12) {
  animation-delay: 0.1843392372s;
  left: calc((100% - 5em) * 0.22);
}

.particle:nth-of-type(13) {
  animation-delay: 0.9296116265s;
  left: calc((100% - 5em) * 0.24);
}

.particle:nth-of-type(14) {
  animation-delay: 0.5181588863s;
  left: calc((100% - 5em) * 0.26);
}

.particle:nth-of-type(15) {
  animation-delay: 0.293374442s;
  left: calc((100% - 5em) * 0.28);
}

.particle:nth-of-type(16) {
  animation-delay: 0.6761636023s;
  left: calc((100% - 5em) * 0.3);
}

.particle:nth-of-type(17) {
  animation-delay: 0.8341334116s;
  left: calc((100% - 5em) * 0.32);
}

.particle:nth-of-type(18) {
  animation-delay: 0.6284472737s;
  left: calc((100% - 5em) * 0.34);
}

.particle:nth-of-type(19) {
  animation-delay: 0.3487582121s;
  left: calc((100% - 5em) * 0.36);
}

.particle:nth-of-type(20) {
  animation-delay: 0.5829841981s;
  left: calc((100% - 5em) * 0.38);
}

.particle:nth-of-type(21) {
  animation-delay: 0.4268382231s;
  left: calc((100% - 5em) * 0.4);
}

.particle:nth-of-type(22) {
  animation-delay: 0.1625779221s;
  left: calc((100% - 5em) * 0.42);
}

.particle:nth-of-type(23) {
  animation-delay: 0.8908477476s;
  left: calc((100% - 5em) * 0.44);
}

.particle:nth-of-type(24) {
  animation-delay: 0.7501666582s;
  left: calc((100% - 5em) * 0.46);
}

.particle:nth-of-type(25) {
  animation-delay: 0.4576837162s;
  left: calc((100% - 5em) * 0.48);
}

.particle:nth-of-type(26) {
  animation-delay: 0.1882941495s;
  left: calc((100% - 5em) * 0.5);
}

.particle:nth-of-type(27) {
  animation-delay: 0.9596413623s;
  left: calc((100% - 5em) * 0.52);
}

.particle:nth-of-type(28) {
  animation-delay: 0.9860719299s;
  left: calc((100% - 5em) * 0.54);
}

.particle:nth-of-type(29) {
  animation-delay: 0.3707885023s;
  left: calc((100% - 5em) * 0.56);
}

.particle:nth-of-type(30) {
  animation-delay: 0.4576588605s;
  left: calc((100% - 5em) * 0.58);
}

.particle:nth-of-type(31) {
  animation-delay: 0.447480742s;
  left: calc((100% - 5em) * 0.6);
}

.particle:nth-of-type(32) {
  animation-delay: 0.9158309988s;
  left: calc((100% - 5em) * 0.62);
}

.particle:nth-of-type(33) {
  animation-delay: 0.8272365918s;
  left: calc((100% - 5em) * 0.64);
}

.particle:nth-of-type(34) {
  animation-delay: 0.9632178742s;
  left: calc((100% - 5em) * 0.66);
}

.particle:nth-of-type(35) {
  animation-delay: 0.9780017011s;
  left: calc((100% - 5em) * 0.68);
}

.particle:nth-of-type(36) {
  animation-delay: 0.9968809726s;
  left: calc((100% - 5em) * 0.7);
}

.particle:nth-of-type(37) {
  animation-delay: 0.5022561807s;
  left: calc((100% - 5em) * 0.72);
}

.particle:nth-of-type(38) {
  animation-delay: 0.6143896398s;
  left: calc((100% - 5em) * 0.74);
}

.particle:nth-of-type(39) {
  animation-delay: 0.9824967244s;
  left: calc((100% - 5em) * 0.76);
}

.particle:nth-of-type(40) {
  animation-delay: 0.9996989608s;
  left: calc((100% - 5em) * 0.78);
}

.particle:nth-of-type(41) {
  animation-delay: 0.0186172589s;
  left: calc((100% - 5em) * 0.8);
}

.particle:nth-of-type(42) {
  animation-delay: 0.4675788957s;
  left: calc((100% - 5em) * 0.82);
}

.particle:nth-of-type(43) {
  animation-delay: 0.1000883595s;
  left: calc((100% - 5em) * 0.84);
}

.particle:nth-of-type(44) {
  animation-delay: 0.1829455892s;
  left: calc((100% - 5em) * 0.86);
}

.particle:nth-of-type(45) {
  animation-delay: 0.3708184987s;
  left: calc((100% - 5em) * 0.88);
}

.particle:nth-of-type(46) {
  animation-delay: 0.1114591235s;
  left: calc((100% - 5em) * 0.9);
}

.particle:nth-of-type(47) {
  animation-delay: 0.8496267549s;
  left: calc((100% - 5em) * 0.92);
}

.particle:nth-of-type(48) {
  animation-delay: 0.4952952008s;
  left: calc((100% - 5em) * 0.94);
}

.particle:nth-of-type(49) {
  animation-delay: 0.6987072427s;
  left: calc((100% - 5em) * 0.96);
}

.particle:nth-of-type(50) {
  animation-delay: 0.6388006397s;
  left: calc((100% - 5em) * 0.98);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }

  25% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}
