.container {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.login-btn {
  font-size: 1rem;
  color: white;
  background-color: rgb(98, 98, 98);
  border-radius: 5px;
  border: solid 2px white;
}