.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 2em;
  flex-direction: column;
  font-size: 5rem;
}
.link-notfound {
  text-decoration: none;
  color: rgb(234, 8, 8);
  margin: 5em;
  font-size: 5rem;
  flex-wrap: wrap;
}

