/* -----------------Card One----------------------- */

.cardDiv {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition-duration: 8s;
  transition-property: transform;
  transform-style: preserve-3d;

}


.card-back {
  background-image: url('../images/gururuny.png');
  border-radius: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-front {
  transform: rotateY(180deg);
  background-image: url('../images/cavecard.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-back,
.card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

/* -----------------Card Two----------------------- */

.cardImage {
  width: 100%;
  height: 100%;
  position: relative;
  transition-duration: 8s;
  transition-property: transform;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.card-backImage {
  background-image: url('../images/memicgreen.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.card-frontImage {
  background-image: url('../images/lakecard.png');
  background-size: 100%;
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  border-radius: 15px;
}

.card-backImage,
.card-frontImage {
  width: 300px;
  height: 450px;
  position: fixed;
  border-radius: 15px;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-containerImage:hover .cardImage {
  transform: rotateY(180deg);
}

/* -----------------Card containers for both cards and page----------------------- */

.divContainer {
  height: 100%;
  min-height: 100vh;
  background: rgb(98, 160, 180);
  background: linear-gradient(176deg,
      rgb(34, 62, 71) 0%,
      rgb(86, 140, 158) 35%,
      rgb(107, 185, 211) 89%);
  background: cover;
  display: flex;
  justify-content: center;
}

.containerCard {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}


.card-container {
  display: table;
  justify-content: center;
  flex-direction: row;
  width: 300px;
  height: 450px;
  perspective: 40em;
  margin: 2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.divCardGame {
  display: flex;
  justify-content: center;
}

.cardHead {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: azure;
  margin-top: -5rem;
  margin-right: 5rem;
}

.cardHeadTwo {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: azure;
  margin-top: -5rem;
}

.headGame {
  font-family: 'Major Mono Display',
    monospace;
  text-shadow: 5px 5px rgb(41, 41, 42);
  transform: scale(0.54);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  display: flex;
  justify-content: center;
  font-size: 9rem;
  color: azure;
  margin-top: 2rem;
}

.playGame {
  font-family: monospace;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: azure;
  margin-top: 2rem;
  letter-spacing: 2px;
  line-height: 5rem;
  text-align: center;
}

.memic-link,
.thecave-link {
  color: aliceblue;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 2rem;
}

/*--- MEDIA QUERIES----*/


/*--- Mobiltelefoner----*/

@media screen and (max-width: 576px) {

  .divContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .containerCard {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
  }

  .divCardGame {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cardHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .headGame {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 8rem;
    margin-top: 1rem;
  }

  .playGame {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 7rem;
  }


}