.containerSign {
  min-height: 100vh;
  background: rgb(3, 24, 120);
  background: linear-gradient(167deg, rgba(3, 24, 120, 1) 10%, rgba(49, 76, 204, 1) 39%, rgba(129, 243, 227, 1) 79%);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


form {
  margin: 2rem auto 0px auto;
}

.mb-3 {
  justify-content: center;
  flex-direction: column;
}


.login-btn {
  /*ÄNDRA KLASSEN SEN SÅ DET BLIR LOGIK*/
  border: 3px solid black;
  border-style: dotted;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 30rem;
  margin-bottom: 2.3rem;
}

.textSign label {
  font-family: monospace;
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
  text-shadow: 3px 4px darkslategray;
  color: white;
}

.btnLogin {
  padding: 1.5rem;
  text-align: center;
  font-size: medium;
}

.btnLogin button {
  background-color: rgb(242, 96, 96);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 0.6rem;
  word-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 20px;
  box-shadow: 5px 10px #888888;
}

.inputDiv {
  display: flex;
  margin-top: 1rem;
}