@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.container {
  width: 100vw;
  min-height: 100vh;
  background: rgb(2, 10, 46);
  background: linear-gradient(
    180deg,
    rgba(2, 10, 46, 1) 9%,
    rgba(4, 21, 100, 1) 33%,
    rgba(6, 33, 157, 1) 57%,
    rgba(9, 46, 215, 1) 85%
  );
  background: cover;
}

.headStart {
  font-family: 'Major Mono Display', monospace;
  text-shadow: 5px 5px rgb(207, 207, 214);
  margin-top: 5rem;
  font-size: 5rem;
  color: rgb(255, 0, 136);
  text-align: center;
  transform: scale(0.54);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.startGameText {
  font-family: monospace;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 8rem;
  line-height: 1.5;
  color: aliceblue;
  font-size: 2rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.cardContainer > div {
  margin-top: 2rem;
  margin-bottom: -2rem;
}
