*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url('./images/forest2.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
  background: rgb(98, 160, 180);
  background: linear-gradient(176deg, rgba(98, 160, 180, 1) 0%, rgba(118, 189, 212, 1) 35%, rgba(167, 215, 231, 1) 89%);
}

.container {
  margin: 15rem;
  padding: 10rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.startContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headStart {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  color: rgb(0, 0, 0);
  margin-top: 5rem;
}

.textStart {
  display: flex;
  text-align: center;
  margin-top: 8rem;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

/* .loginContainer {
  height: 100vh;
  background-color: darkseagreen;
  margin-top: 20rem;
} */

.buttonStart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 5rem;
  width: 12rem;
  margin-top: 4rem;
  border-radius: 8px;
}

.btn {
  font-size: 1.5rem;
  background-color: rgba(228, 225, 225, 0.531);
  border-radius: 5px;
  border: solid white 2px;
}

input {
  padding: 0.5rem;
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.form-control {
  font-size: 1rem;
}

:checked {
  font-size: 5rem;
}

h4 {
  color: beige;
}

.startCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 70rem;
  width: 100%;
  background-color: red;
}

.cardColumn {
  display: flex;
  justify-content: center;
  flex-direction: columnrow;

}