@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container {
  padding: 20rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.container2 {
  padding: 10rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;

* {
  padding: 0;
  margin: 0;

}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  font-size: 5rem;
  color: rgb(0, 0, 0);
  margin-top: 10rem;
}

.textStart {
  margin-top: 8rem;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  line-height: 5rem;
  text-align: center;
}


@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}


}

span:nth-child(3) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


.form-control {
  font-size: 1rem;
}

:checked {
  font-size: 5rem;
}

.link-notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  font-size: 2rem;
  color: white;
  text-decoration: underline;
}

h4 {
  color: beige;
}

h3 {
  color: white;
}

label {
  color: white;
}
